@{
    ViewData["Title"] = "Listar por Texto y VA";
}

<div class="card-header bg-secondary text-white">
    <h2 class="mb-0">Listar por Texto y por Valor de Aceptacion</h2>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label class="py-2" for="texto">Texto:</label>
                            <input type="text" class="form-control" id="texto" name="texto" placeholder="Texto">
                        </div>
                        <div class="form-group">
                            <label class="py-2" for="email">Valor de Aceptacion:</label>
                            <input type="number" class="form-control" id="valor" name="valor" placeholder="Valor de Aceptacion">
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Listar Posts</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.ErrorMessage != null)
{
    <div class="mt-5 alert alert-danger">@ViewBag.ErrorMessage</div>
}

@if (ViewBag.Posts.Count == 0)
{
    <div class="mt-5 alert alert-secondary">No Hay Datos Para Mostrar</div>
}

@if (ViewBag.Posts.Count > 0)
{
    @for (int i = 0; i < ViewBag.Posts.Count; i++)
    {
        <div class="container mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th class="w-25">Titulo</th>
                        <th class="w-25">Texto</th>
                        <th class="w-25">VA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="w-25">@ViewBag.Posts[i].Titulo</td>
                        <td class="w-25">@ViewBag.Posts[i].Texto</td>
                        <td class="w-25">@ViewBag.Posts[i].CalcularVA()</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
}